*{
	margin:0;
	padding:0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	font: normal 14px/20px Arial, Helvetica, sams-serif;
	background:rgb(101,86,139);
}

a{
	text-decoration: none;
}

.clearfix:after {
	content:".";
	display: block;
	height:0;
	clear: both;
	visibility: hidden;
}

.global-box{
	background-color: rgb(226,223,236);
	width: 1170px;
	margin: 0 auto;
	border-left: 2px solid black;
	border-right: 2px solid black;
/*	-webkit-border-radius: 5px;
	border-radius: 5px;*/
}



.header{}

.content{

}

.content .output{
	text-align: center;
}

.content .input {
margin-top:40px;
text-align: right;
}

.content .input .left{
	display: table-row;
	float:left;
	width: 500 px;
	padding-left: 100px;
}

.content  .input .right{
	float:right;
	width: 500 px;
	padding-right: 100px;
}


.content  .input .form{

	margin: 20px auto 0 auto;

}


.content table{
	width: 550px;
	margin: 120px auto 20px auto;
	text-align: center;
	padding: 20px;
}
